#background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/97/Feral_cat_Virginia_crop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#preload {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}